@font-face {
  font-family: "HandjetHeart";   /*Can be any text*/
  src: local("HandjetCircleDouble-Regular"),
  url("./fonts/HandjetCircleDouble-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HandjetHeartDoubleFlower";   /*Can be any text*/
  src: local("HandjetHeartDoubleFlower-Regular"),
  url("./fonts/HandjetFlowerDouble-Regular.ttf") format("truetype");
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'HandjetHeart', 'HandjetHeartDoubleFlower', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3840px); /* The image width */
  }
}

body {

  background-image: url(image/smiley.gif);
  background-color: #191719 !important;
  background-position: revert;
  background-size: 320px;
  background-position-x: 0px;
  animation: scaleAnimation 10s infinite linear;
  image-rendering: pixelated;

}

.bg-container2 {
  z-index: 200;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: linear-gradient(rgba(255, 255, 255, 0.005), rgba(255, 255, 255, 0.02)),
              url(image/scanlines3.png); /* download the image here: https://i.ibb.co/C0MjrsJ/05.png and link to it */
  /*background: url(image/scanlines3.png); !* download the image here: https://i.ibb.co/C0MjrsJ/05.png and link to it *!*/
  background-size: 2px 2px;
}

/*.bg-container {*/
/*  background-color: black;*/
/*  background-image: radial-gradient(*/
/*          rgba(0, 150, 0, 0.75), black 120%*/
/*  );*/
/*  background-blend-mode: screen;*/
/*  height: 100vh;*/

/*}*/

@keyframes scaleAnimation {
  0% {
    background-position-x: 0px;
    background-position-y: 0px;
  }
  100% {
    background-position-x: 320px;
    background-position-y: 230px;
  }
}

.directory-hr {
  height: 3px;
  background: #343a40;
}

.directory-sticker {
  margin: 2em 0px ;
}

html a {
  color: darkgrey;
}

html a:hover {
  color: grey;
  text-decoration: none;
}


.main {
  font-family: 'HandjetHeart';
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e7e7e7;
  text-transform: uppercase;
  margin-bottom: 150px;
}


.navbar {
  /*height: 350px;*/
  padding-top: 50px;
  margin-bottom: 30px;
}



.navbar a {
  color: #e7e7e7;
}

.navbar a:hover {
  color: darkgrey;
  text-decoration: none;
}

.logo-text {
  font-size: 100px;
  word-spacing: 30px;
  color: #e7e7e7;
  font-family: 'HandjetHeartDoubleFlower', serif;
}

.text-3d-animation {
  animation-timing-function: linear;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-name: text-animation;

  }


@keyframes text-animation {
  0% {
    text-shadow: 0px 0px 0 rgb(107,107,107),
    1px -1px 0 rgb(99,99,99),
    2px -2px 0 rgb(91,91,91),
    3px -3px 0 rgb(83,83,83),
    4px -4px 0 rgb(75,75,75),
    5px -5px 0 rgb(67,67,67),
    6px -6px 0 rgb(59,59,59),
    7px -7px 0 rgb(51,51,51),
    8px -8px  0 rgb(43,43,43),
    9px -9px 8px rgba(0,0,0,0.17),
    9px -9px 1px rgba(0,0,0,0.5),
    0px 0px 8px rgba(0,0,0,.2);
  }

  25% {
    text-shadow: 0px 0px 0 rgb(107,107,107),
    -1px -1px 0 rgb(99,99,99),
    -2px -2px 0 rgb(91,91,91),
    -3px -3px 0 rgb(83,83,83),
    -4px -4px 0 rgb(75,75,75),
    -5px -5px 0 rgb(67,67,67),
    -6px -6px 0 rgb(59,59,59),
    -7px -7px 0 rgb(51,51,51),
    -8px -8px  0 rgb(43,43,43),
    -9px -9px 8px rgba(0,0,0,0.17),
    -9px -9px 1px rgba(0,0,0,0.5),
    0px 0px 8px rgba(0,0,0,.2);
  }

  50% {
    text-shadow: 0px 0px 0 rgb(107,107,107),
    -1px 1px 0 rgb(99,99,99),
    -2px 2px 0 rgb(91,91,91),
    -3px 3px 0 rgb(83,83,83),
    -4px 4px 0 rgb(75,75,75),
    -5px 5px 0 rgb(67,67,67),
    -6px 6px 0 rgb(59,59,59),
    -7px 7px 0 rgb(51,51,51),
    -8px 8px  0 rgb(43,43,43),
    -9px 9px 8px rgba(0,0,0,0.17),
    -9px 9px 1px rgba(0,0,0,0.5),
    0px 0px 8px rgba(0,0,0,.2);
  }

  75% {
    text-shadow: 0px 0px 0 rgb(107,107,107),
    1px 1px 0 rgb(99,99,99),
    2px 2px 0 rgb(91,91,91),
    3px 3px 0 rgb(83,83,83),
    4px 4px 0 rgb(75,75,75),
    5px 5px 0 rgb(67,67,67),
    6px 6px 0 rgb(59,59,59),
    7px 7px 0 rgb(51,51,51),
    8px 8px  0 rgb(43,43,43),
    9px 9px 8px rgba(0,0,0,0.17),
    9px 9px 1px rgba(0,0,0,0.5),
    0px 0px 8px rgba(0,0,0,.2);
  }

  100% {
    text-shadow: 0px 0px 0 rgb(107,107,107),
    1px -1px 0 rgb(99,99,99),
    2px -2px 0 rgb(91,91,91),
    3px -3px 0 rgb(83,83,83),
    4px -4px 0 rgb(75,75,75),
    5px -5px 0 rgb(67,67,67),
    6px -6px 0 rgb(59,59,59),
    7px -7px 0 rgb(51,51,51),
    8px -8px  0 rgb(43,43,43),
    9px -9px 8px rgba(0,0,0,0.17),
    9px -9px 1px rgba(0,0,0,0.5),
    0px 0px 8px rgba(0,0,0,.2);
  }
}

.logo-div {
  margin-bottom: 25px;
  text-align: center;
}

.menu {
  font-size: 45px;
  width: 100%;
}

.menu-directory {
  font-size: 30px;
  padding-top: 0px;
}

.menu-item {
  text-align: center;
  text-shadow: 0px 0px 0 rgb(102,102,102),
  1px -1px 0 rgb(89,89,89),
  2px -2px 0 rgb(77,77,77),
  3px -3px 0 rgb(64,64,64),
  4px -4px 0 rgb(51,51,51),
  5px -5px  0 rgb(38,38,38),
  6px -6px 5px rgba(0,0,0,0.17),
  6px -6px 1px rgba(0,0,0,0.5),
  0px 0px 5px rgba(0,0,0,.2);
}

.menu-tshirt-desc-name {
  line-height: 0.9em;
  padding-bottom: 0.8em;
}

.menu-tshirt-desc-name a {
  color: #e7e7e7;
}

.menu-tshirt-desc-name a:hover {
  color: darkgrey;
  text-decoration: none;
}

@media only screen and (max-width: 767px)  {
  .logo-text {
    font-size: 60px;
    word-spacing: 15px;
  }
  .menu {
    font-size: 30px;
  }
}


.directory-tshirt {
  max-width: 100%;
  filter: drop-shadow(0.65rem 0.65rem 0.9rem rgba(0, 0, 0, 0.9));
}

.menu-tshirt-desc {
  padding-top: 5px;
}

.menu-tshirt-desc p:nth-child(2) {
  margin-top: -25px;
  padding-bottom: 25px;
}

.about, .shipping {
  background: rgba(76, 194, 14, 0.05);
  padding: 10px;
  /*opacity: 0.2;*/
  box-shadow: 5px 10px black;
  margin-top: 50px;
  text-align: center;
}

.shipping{
    text-align: left;
}

.tshirt-product-image {
  width: 100%;

}

.tshirt-product-description {
  white-space: pre;
  white-space: break-spaces;
}

.tshirt-product-description h3 {
 font-size: 1.75em;
}

.tshirt-product-page {
  font-size: 30px;
}

.navlink-active{
  color: darkgray !important;
}

.animation {
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: swingy;
}

@keyframes swingy {
  0% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}

.animation-chill {
  animation-timing-function: ease-in-out);
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: swingy-chill;
}

@keyframes swingy-chill {
  0% {
    transform: rotate(-0.5deg);
  }

  50% {
    transform: rotate(0.5deg);
  }

  100% {
    transform: rotate(-0.5deg);
  }
}

.loading-status {
  width: 100%;
  text-align: center;
}





